/* CABEÇALHO */
.cabeca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

/* MANCHETE */
.manchete {
    align-items: center;
    padding: 10px;
}

/* SUB-TÍTULO */
.subtitle{
    font-size: small;
}
/* ENTRADAS LOGIN E CADASTRO */
.lr{
    display: flex;
    align-items: right;
}

/* LOGO */
.logo h1 {
    color: white;
    margin: 0;
}

/* MENU PRINCIPAL */
.loginEstud ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.loginEmpre ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* ITENS DO MENU */
.loginEstud li {
    position: relative;
    margin-left: 20px;
}

.loginEmpre li {
    position: relative;
    margin-left: 20px;
}

/* LINKS */
.loginEstud a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.loginEmpre a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

/* HOVER NO LINK */
.loginEstud a:hover {
    background-color: #555;
    border-radius: 5px;
}
.loginEmpre a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* SUBMENU (ESCONDIDO) */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    padding: 10px;
    min-width: 180px;
    border-radius: 5px;
}

/* SUBMENU (ESCONDIDO) */
.submenu1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    padding: 10px;
    min-width: 180px;
    border-radius: 5px;
}

/* MOSTRAR SUBMENU AO PASSAR MOUSE */
.loginEstud li:hover .submenu {
    display: block;
}

.loginEmpre li:hover .submenu1 {
    display: block;
}


/* BOTÕES DO SUBMENU */
.submenu button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.submenu1 button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: none;
    cursor: pointer;
}


/* BOTÃO LOGIN */
.login {
    background-color: royalblue;
    color: white;
}

/* BOTÃO REGISTRO */
.register {
    background-color: green;
    color: white;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}